:root{
  --negro:#404040; 
  --azul-osc:#16348C;
  --azul-cl:#2148BF;
  --azul-cl2:#1C3FA6;
  --azul-osc2:#012840;
  --blanco:#F1ECE9;
}
/*----GENERAL----*/
body{
    margin: 0;
    padding: 0;
    background: var(--blanco);
    font-family: 'Work Sans', sans-serif;
}
nav{
    grid-area: header;
}
footer{
    grid-area: footer;
}

/*----POR ID----*/
#grilla{
  display: grid;
  grid-template-areas: 
  "header  header"
  "bnv  none"
  "nF  bF"
  "F F"
  "footer  footer"
  ;
  grid-template-columns: 80% 20% ;
  grid-template-rows: 7% 7% 74.7vh 60vh 3%;
}


/*----POR CLASES----*/
.bienvenida{
    grid-area: bnv;
  
}
.bienvenida>h1{
  margin-left: 30px;
  margin-bottom: 5px;
}
.bienvenida>h2{
  margin-top: 0;
  margin-left: 32px;
}


.nuevaFicha{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    grid-area: nF;
}
.nuevaFicha__nav{
    margin: 0;
    width: 75vw;
    height: 70vh;
    color: var(--blanco);
    background: var(--negro);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 19.5px );
    -webkit-backdrop-filter: blur( 19.5px );
    border-radius: 10px;
}
.nuevaFicha__nav>h1{
    margin-left: 20px;
}

.texto{font: 15px/24px 'Muli', sans-serif; color: #333; width: 100%; box-sizing: border-box; letter-spacing: 1px;}
.email{font: 15px/24px 'Muli', sans-serif; color: #333; width: 100%; box-sizing: border-box; letter-spacing: 1px;}
.numero{font: 15px/24px 'Muli', sans-serif; color: #333; width: 100%; box-sizing: border-box; letter-spacing: 1px;}
.date{font: 15px/24px 'Muli', sans-serif; color: #333; width: 100%; box-sizing: border-box; letter-spacing: 1px;}

:focus{outline: none;}

.col-3{float: left; width: 27.33%; margin: 40px 3%; position: relative;} /* necessary to give position: relative to parent. */
.texto{font: 15px/24px "Lato", Arial, sans-serif; color: #333; width: 100%; box-sizing: border-box; letter-spacing: 1px;}

.effect-8{border: 1px solid #ccc; padding: 7px 14px 9px; transition: 0.4s;}
.effect-8 ~ .focus-border:before,
.effect-8 ~ .focus-border:after{content: ""; position: absolute; top: 0; left: 0; width: 0; height: 2px; background-color: #4caf50; transition: 0.3s;}
.effect-8 ~ .focus-border:after{top: auto; bottom: 0; left: auto; right: 0;}
.effect-8 ~ .focus-border i:before,
.effect-8 ~ .focus-border i:after{content: ""; position: absolute; top: 0; left: 0; width: 2px; height: 0; background-color: #4caf50; transition: 0.4s;}
.effect-8 ~ .focus-border i:after{left: auto; right: 0; top: auto; bottom: 0;}
.effect-8:focus ~ .focus-border:before,
.effect-8:focus ~ .focus-border:after{width: 100%; transition: 0.3s;}
.effect-8:focus ~ .focus-border i:before,
.effect-8:focus ~ .focus-border i:after{height: 100%; transition: 0.4s;}





.botonesFichas{
    display: flex;
    justify-content: center;
    grid-area: bF;
}
.botonesFichas__form{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.botonesFichas__btn{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.botonesFichas__btn>button{
  appearance: none;
  outline: none;
  box-sizing: border-box;
  display: inline-block;
  height: 80px;
  margin-top: 20px;
  padding: 16px 24px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  line-height: normal;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
}
.botonesFichas__btn>button:disabled{
  pointer-events: none;
}
.botonesFichas__btn>button:hover{
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
  background-color: var(--azul-osc2);
  color: var(--blanco);
}
.botonesFichas__btn>button:active {
  box-shadow: none;
  transform: translateY(0);
}



.Ficha{
  display: flex;
  justify-content: center;
  padding-top: 20px;
  grid-area: F;
}
.Ficha__nav{
  margin-top: 0;
  width: 95vw;
  height: 50vh;
  color: var(--blanco);
  background: var(--negro);
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 19.5px );
  -webkit-backdrop-filter: blur( 19.5px );
  border-radius: 10px;
}




/*----TABLA----*/
table {
  width: 100%;
  border-collapse: collapse;
}
.header_fixed {
  max-height: 100vh;
  width: 100%;
  overflow: auto;
  border: 1px solid #dddddd;
}
.header_fixed thead th {
  position: sticky;
  top: 0;
  background-color: black;
  color: #e6e7e8;
  font-size: 18px;
}
th,
td {
padding: 10px 20px;
font-size: 17px;
color: var(--negro)
}
tr:nth-child(even) {
  background-color: #dddddd;
}
tr:nth-child(odd) {
  background-color: #edeef1;
}
tr:hover td {
color: var(--blanco);
cursor: pointer;
background-color: var(--azul-osc2);
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}



/*-----POPUP-----*/
.pop{
  appearance: none;
  outline: none;
  box-sizing: border-box;
  display: inline-block;
  height: 80px;
  margin-top: 20px;
  padding: 25px;
  border: line var(--negro);
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  line-height: normal;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform; 
}
.pop:hover{
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
  background-color: var(--azul-osc2);
  color: var(--blanco);
}
.modal-container3 {
  display: flex;
  background-color: rgba(0, 0, 0, 0.3);
  align-items: center;
  justify-content: center;
  position: fixed;
  pointer-events: none;
  opacity: 0;  
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  transition: opacity 0.3s ease;
  overflow: scroll;
}
.show3 {
  pointer-events: auto;
  opacity: 1;
}
.modal3 {
  background-color: #fff;
  width: 70%;
  max-width: 100%;
  padding: 45px 42px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
}
.modal3 h1 {
  margin: 0;
}
.modal3 p {
  opacity: 0.7;
  font-size: 14px;
}
/*----DROPDOWN----*/
.dropdown2:hover .dropdown-content {
  display: block;
}
.drop--cont {
  display: flex;
}

.dropdown2 {
  position: relative;
  display: inline-block;
  width: 30%;
}

.dropdown-btn {
  background-color: #f1f1f1;
  color: black;
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  max-height: 200px;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
}

.dropdown-content label {
  display: block;
  padding: 8px 12px;
  cursor: pointer;
}

.dropdown-content label:hover {
  background-color: #f1f1f1;
}

.dropdown-btn:hover {
  background-color: #ddd;
}

.dropdown-btn:focus {
  outline: none;
}

.dropdown-btn.active {
  background-color: #ccc;
}

.dropdown2:hover .dropdown-content {
  display: block;
}

input[type="submit"] {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

#close3 {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #af4c4c;
  color: white;
  border: none;
  cursor: pointer;
}

.input--pop {
  width: 30%;
  margin-right: 30px;
}





/*----HEADER----*/
.main__header{
  height: 70px;
  padding: 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #FFF;
  /*background: linear-gradient(140deg, rgba(85,62,255,1) 24%, rgba(177,166,254,1) 69%, rgba(0,32,70,1) 95%);*/
  background: var(--azul-osc2);
}
.main_header_menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 20px;
}
.main_header_menu > li {
  margin: 0 1rem;
  overflow: hidden;
}
.menu_button_container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#menu-toggle {
  display: none;
}
.menu__button,
.menu__button::before,
.menu__button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}
.menu__button::before {
  content: '';
  margin-top: -8px;
}
.menu__button::after {
  content: '';
  margin-top: 8px;
}
#menu-toggle:checked + .menu_buttoncontainer .menu_button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}
#menu-toggle:checked + .menu_buttoncontainer .menu_button {
  background: rgba(255, 255, 255, 0);
}
#menu-toggle:checked + .menu_buttoncontainer .menu_button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}
@media (max-width: 700px) {
  .menu_button_container {
    display: flex;
  }
  .main_header_menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .main_header_menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .main_header_menu li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .main_header_menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #222;
  }
  .main_header_menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}


.submenu {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: var(--azul-osc2);
  padding: 0.5rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#ficha-oficios:hover + #submenu-ficha-oficios,
#submenu-ficha-oficios:hover {
  display: block;
}



/*----FOOTER----*/
.main__footer__list {
    display: inline-grid;
    grid-auto-flow: row;
    grid-gap: 24px;
    justify-items: center;
    margin: auto;
    list-style-type: none;
}                        
@media (min-width: 500px) {
    .main__footer__list {
            grid-auto-flow: column;
        }
}               
.sub {
    color: white;
    position: relative;
    text-decoration: none;
}
.sub::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color:var(--blanco);
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}
.sub:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}
.main__footer__list__item:last-child {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
                              
                              /*styling-FOOTER */
                              
.main__footer {
    display: flex;
    height: 6vh;
    width: 100%;
    background-color: var(--azul-osc2);
   /*background: linear-gradient(0deg, rgba(85,62,255,1) 20%, rgba(177,166,254,1) 85%);*/
    line-height: 1.3;
    font-family: Menlo, monospace;
}




  @media screen and (max-width: 1366px) and (max-height:617px) {
    #grilla{
      display: grid;
      grid-template-areas: 
      "header  header"
      "bnv  none"
      "nF  bF"
      "F F"
      "footer  footer"
      ;
      grid-template-columns: 80% 20% ;
      grid-template-rows: 7% 8% 100vh 67vh 3%;
    }

    .nuevaFicha__nav{
      margin-top: 0;
      margin-bottom: 5%;
      width: 75vw;
      height: 95vh;
      color: var(--blanco);
      background: var(--negro);
      box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
      backdrop-filter: blur( 19.5px );
      -webkit-backdrop-filter: blur( 19.5px );
      border-radius: 10px;
  }
  .Ficha__nav{
    margin-top: 0;
    width: 95vw;
    height: 80vh;
    color: var(--blanco);
    background: var(--negro);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 19.5px );
    -webkit-backdrop-filter: blur( 19.5px );
    border-radius: 10px;
}

}



@media screen and (max-width: 1536px) and (max-height:746px) {
 
  
  #grilla{
    display: grid;
    grid-template-areas: 
    "header  header"
    "bnv  none"
    "nF  bF"
    "F F"
    "footer  footer"
    ;
    grid-template-columns: 80% 20% ;
    grid-template-rows: 7% 8% 100vh 68vh 3%;
  }

  .nuevaFicha__nav{
    margin-top: 0;
    margin-bottom: 5%;
    width: 75vw;
    height: 95vh;
    color: var(--blanco);
    background: var(--negro);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 19.5px );
    -webkit-backdrop-filter: blur( 19.5px );
    border-radius: 10px;
}
.Ficha__nav{
  margin-top: 0;
  width: 95vw;
  height: 60vh;
  color: var(--blanco);
  background: var(--negro);
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 19.5px );
  -webkit-backdrop-filter: blur( 19.5px );
  border-radius: 10px;
}
}

@media screen and (max-width: 1366px) and (max-height:667px) {
 
  
#grilla{
  display: grid;
  grid-template-areas: 
  "header  header"
  "bnv  none"
  "nF  bF"
  "F F"
  "footer  footer"
  ;
  grid-template-columns: 80% 20% ;
  grid-template-rows: 8% auto;
}

.nuevaFicha__nav{
  margin-top: 0;
  margin-bottom: 5%;
  width: 75vw;
  height: 103vh;
  color: var(--blanco);
  background: var(--negro);
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 19.5px );
  -webkit-backdrop-filter: blur( 19.5px );
  border-radius: 10px;
}
.Ficha__nav{
margin-top: 0;
width: 95vw;
height: 70vh;
color: var(--blanco);
background: var(--negro);
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 19.5px );
-webkit-backdrop-filter: blur( 19.5px );
border-radius: 10px;
margin-bottom: 2%;
}
}